<nav class="navbar navbar-expand-md navbar-dark bg-dark pl-5 mb-5 fixed-top">
  <a class="navbar-brand" href="#">{{ 'Starships' | uppercase }}</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/ships">Ships List<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="/details">Details</a>
      </li>
    </ul>
  </div>
</nav>
